gymnasium==0.28.1
matplotlib==3.7.1
numpy==1.24.1
pandas==2.0.1
tensorboard==2.13.0
tensorboard-data-server==0.7.0
torch==2.0.1+cu117
torch-tb-profiler==0.4.1
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
